/* 전체 페이지의 기본 설정 */
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    width: 375px;
    height: 667px;
    background-color: white; 
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.content {
    text-align: center;
    padding: 20px; 
}

h3 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 22px;
}

input[type="text"],
input[type="number"] {
    width: calc(80% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}

/* 시간 컨테이너 */
.duration-container {
    display: flex;
    align-items: center;
    gap: 8px; 
    margin-bottom: 15px;
    max-width: 300px;
    margin: 0 auto; 
    justify-content: center; 
}

/* 숫자 입력 필드 */
input[type="number"] {
    width: 80px; 
    padding: 10px;
    font-size: 16px; 
}

/* '동안 진행해요' 텍스트 */
span {
    font-size: 16px;
}

p {
    margin-top: 30px;
    font-size: 12px;
}

.submit-button:disabled {
    background-color: gray;
    color: rgba(255, 255, 255, 0.7);
    cursor: not-allowed; 
}

.submit-button {
    background-color: #1b75bb; 
    color: white; 
    padding: 6px 30px;
    border: 1px solid #5C5C5C;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 2px;
    display: inline-block;
}

.submit-button:hover {
    opacity: 0.8;
}

/* 이전으로 돌아가는 버튼 스타일 */
.back-button {
    background-color: transparent;
    border: none;
    color: #779FD0;
    font-size: 40px;
    cursor: pointer;
    position: absolute; 
    top: 15px; 
    left: 20px; 
    text-decoration: none; 
}

/* 로딩 스피너 */
.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #3498db; 
    border-radius: 50%;
    width: 40px; 
    height: 40px; 
    animation: spin 1s linear infinite; 
    margin: 0 auto; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
