/* 전체 페이지의 기본 설정 */
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    width: 375px;
    height: 667px; 
    background-color: white; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.content {
    text-align: center;
    padding: 20px;
}

.header {
    position: absolute;
    top: 30px;
    left: 30px;
}

.logo {
    font-size: 24px; 
    font-weight: bold;
    color: #007BFF; 
}

.highlight {
    color: #0062CC; 
}


h3 {
    margin-bottom: 50px;
    font-size: 18px;
}

/* 방 목록 스타일 */
.room-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    text-decoration: none;
}

.room-item {
    text-decoration: none;
    background-color: #0062CC;
    color: white;
    width: 140%;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 15px;
    text-align: left;
    cursor: pointer;
}

.room-item:hover {
    opacity: 0.8;
}

/* 버튼 그룹 스타일 */
.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.button {
    display: block;
    width: 80%;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.enter-room {
    background-color: white; 
    color: #4889D6; 
    padding: 7px 30px;
    border: 2px solid hsl(213, 92%, 81%);
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    margin-top: -10px; 
    width: 150%;
    max-width: 300px; 
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.add-goal {
    background-color: white; 
    color: #4889D6; 
    padding: 7px 30px;
    border: 2px solid hsl(213, 92%, 81%);
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 1px; 
    width: 150%; 
    max-width: 300px; 
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.button:hover {
    background-color: #E8E8E8;
}

/* 로그아웃 링크 스타일 */
.logout-link {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 1000; 
    text-align: right;
}

.logout-link a {
    display: inline-block;
    padding: 3px 8px; 
    background-color: #81A6D4; 
    color: white; 
    font-size: 13x; 
    font-weight: bold; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
    margin-bottom: 10px;
}

.logout-link a:hover {
    background-color: #004a9e;
}

/* 페이지네이션 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.page-nav {
    display: inline-block;
    margin: 0 5px;
    padding: 10px;
    font-size: 18px;
    color: #007BFF;
    text-decoration: none;
    border: 1px solid #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.page-nav:hover {
    background-color: #007BFF;
    color: #fff;
}

.page-nav.disabled {
    color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
}

.page-info {
    margin: 0 10px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}


