/* 전체 페이지의 기본 설정 */
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
}

.container {
    width: 375px;
    height: 667px; 
    background-color: white;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.content {
    text-align: center;
    padding: 20px; 
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-boxes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.box {
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    border: none;
    outline: none;
}

.gray-box {
    background-color: #E8E8E8;
    border: 1px solid #B1C5DD;
}

.sky-box {
    background-color: #D7E9FF;
    border: 1px solid #ADC7E9;
}

.blue-box {
    background-color: #7BA2D2;
    border: 1px solid #81A6D4;
}

.gray2-box {
    background-color: #E8E8E8;
    border: 1px solid #5C5C5C;
}

p {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 13px;
    color: #969696
}

/* 이전으로 돌아가는 버튼 스타일 */
.back-button {
    background-color: transparent;
    border: none;
    color: #779FD0;
    font-size: 40px;
    cursor: pointer;
    position: absolute; 
    top: 10px; 
    left: 20px; 
    text-decoration: none; 
}

/* 목표 추가하기 버튼 스타일 */
.add-button {
    background-color: white; 
    color: #65A4F2; 
    padding: 7px 30px;
    border: 2px solid hsl(213, 92%, 81%);
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    margin-top: -10px;
    width: 100%; 
    max-width: 300px; 
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.add-button:hover {
    background-color: #E8E8E8;
}

/* 캐릭터 선택 버튼 */
.submit-button {
    background-color: #1b75bb;
    color: white;
    padding: 8px 30px;
    border: 1px solid #5C5C5C;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
}



