/* 전체 페이지의 기본 설정 */
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
}

.container {
    width: 375px; 
    height: 667px; 
    background-color: white; 
    overflow: auto; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-bottom: 20px;
}

.content {
    text-align: center;
    padding: 20px; 
}

/* 이전으로 돌아가는 버튼 스타일 */
.back-button {
    background-color: transparent;
    border: none;
    color: #779FD0;
    font-size: 40px;
    cursor: pointer;
    position: absolute; 
    top: 10px; 
    left: 20px; 
    text-decoration: none;
}

/* 팀 이름 */
.team-name {
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0;
}

/* 팀 목표 및 기간 */
.team-goal, .team-duration {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

/* 팀원 목록 */
.team-members {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.team-members li {
    font-size: 16px;
    color: #333;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

/* 스토리 섹션 */
.story {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.story-profile {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-right: 10px;
    background-color: #ddd;
}

.story-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.upload-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

/* 팝업 form */
.popup-form, .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup img {
    max-width: 100%;
    max-height: 100%;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

/* 조정된 이미지 크기와 배치 */

/* 보드게임 섹션 */
.game-board {
    /* flex: 1; */
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    flex-direction: column-reverse;
    overflow-y: auto;
    height: 350px;
    width: 300px;
    display: flex;
    align-items: center;
}

.board-row {
    display: flex;
}
.space {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

.chracter {
    width: 50%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}