{% load static %}

<!-- 캐릭터 선택 페이지 -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>목표 생성하기</title>
    <link rel="stylesheet" href="{% static 'css/choose_character.css' %}">
    <script>
        function selectImage(imgName, event) {
            // 선택된 이미지 스타일 추가
            var images = document.querySelectorAll('.image-grid img');
            images.forEach(img => img.classList.remove('selected'));
    
            event.target.classList.add('selected');
            document.getElementById('character-image').value = imgName;
        }
    
        // 이벤트를 이미지 클릭 시 전달하도록 
        var images = document.querySelectorAll('.image-grid img');
        images.forEach(img => {
            img.addEventListener('click', function(event) {
                selectImage(img.getAttribute('alt').toLowerCase() + '.png', event);
            });
        });
    </script>
</head>
<body>
    <div class="container">

        <div class="content">
            <!-- 홈으로 돌아가는 화살표 버튼 -->
            <a href="{% url 'accounts:home' %}" class="back-button" ><b><</b></a>
            <h3>"{{ team.name }}"에서<br></h3>
            <h4>함께 목표를 완주할 캐릭터를 선택해주세요!</h4>
            
            <form method="post">
                {% csrf_token %}
                <!-- 선택된 캐릭터 이미지 -->
                <input type="hidden" id="character-image" name="character_image" required>

                <!-- 동물 이미지들 -->
                <div class="image-grid">
                    <img src="{% static 'img/rat.png' %}" alt="쥐" onclick="selectImage('rat.png', event)"
                        {% if 'rat.png' in chosen_characters %} class="disabled" {% endif %}>
                    <img src="{% static 'img/cow.png' %}" alt="소" onclick="selectImage('cow.png', event)"
                        {% if 'cow.png' in chosen_characters %} class="disabled" {% endif %}>
                    <img src="{% static 'img/tiger.png' %}" alt="호랑이" onclick="selectImage('tiger.png', event)"
                        {% if 'tiger.png' in chosen_characters %} class="disabled" {% endif %}>
                    <img src="{% static 'img/rabbit.png' %}" alt="토끼" onclick="selectImage('rabbit.png', event)"
                        {% if 'rabbit.png' in chosen_characters %} class="disabled" {% endif %}>
                    <img src="{% static 'img/dragon.png' %}" alt="용" onclick="selectImage('dragon.png', event)"
                        {% if 'dragon.png' in chosen_characters %} class="disabled" {% endif %}>
                    <img src="{% static 'img/snake.png' %}" alt="뱀" onclick="selectImage('snake.png', event)"
                        {% if 'snake.png' in chosen_characters %} class="disabled" {% endif %}>
                    <img src="{% static 'img/horse.png' %}" alt="말" onclick="selectImage('horse.png', event)"
                        {% if 'horse.png' in chosen_characters %} class="disabled" {% endif %}>
                    <img src="{% static 'img/sheep.png' %}" alt="양" onclick="selectImage('sheep.png', event)"
                        {% if 'sheep.png' in chosen_characters %} class="disabled" {% endif %}>
                    <img src="{% static 'img/monkey.png' %}" alt="원숭이" onclick="selectImage('monkey.png', event)"
                        {% if 'monkey.png' in chosen_characters %} class="disabled" {% endif %}>
                    <img src="{% static 'img/chicken.png' %}" alt="닭" onclick="selectImage('chicken.png', event)"
                        {% if 'chicken.png' in chosen_characters %} class="disabled" {% endif %}>
                    <img src="{% static 'img/dog.png' %}" alt="강아지" onclick="selectImage('dog.png', event)"
                        {% if 'dog.png' in chosen_characters %} class="disabled" {% endif %}>
                    <img src="{% static 'img/pig.png' %}" alt="돼지" onclick="selectImage('pig.png', event)"
                        {% if 'pig.png' in chosen_characters %} class="disabled" {% endif %}>
                </div>
                
                <button type="submit" class="submit-button">입장하기</button>
            </form>
        </div>
    </div>
</body>
</html>
