{% load static %}

<!-- 목표방 만들기 페이지 -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>목표 생성하기</title>
    <link rel="stylesheet" href="{% static 'css/create_team.css' %}">
</head>
<body>
    <div class="container">
        <div class="content">
            <!-- 홈으로 돌아가는 화살표 버튼 -->
            <a href="{% url 'accounts:home' %}" class="back-button" ><b><</b></a>
            <h3>어떤 목표를 이뤄볼까요?</h3>
            
            <form method="post">
                {% csrf_token %}
                <input type="text" id="room-name" name="name" class="short-input" placeholder="방 이름을 입력하세요." required>
                <input type="text" id="goal-name" name="goal" placeholder="목표를 입력하세요." required>

                <div class="duration-container">
                    <input type="number" id="goal-duration" name="duration" placeholder="기간 (일)" min="1" required>
                    <span>일 동안 진행돼요!</span>
                </div>

                <p>*최대 4명의 친구들과 함께할 수 있어요!*</p>
                
                <button type="submit" class="submit-button">목표 생성하기</button>
            </form>
        </div>
    </div>
</body>
</html>
