{% load static %}

<!-- 임시 팀 상세페이지  -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>체크마블</title>
    <link rel="stylesheet" href="{% static 'css/team_detail.css' %}">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="team-detail">
                <!-- 홈으로 돌아가는 화살표 버튼 -->
                <a href="{% url 'accounts:home' %}" class="back-button" ><b><</b></a>

                <!-- 팀 정보 -->
                <h2 class="team-name">{{ team.name }}</h2>
                <p class="team-goal">목표: {{ team.goal }}</p>
                <p class="team-duration">기간: {{ team.duration }}일</p>
                <p class="home-date">{{ home.date }}일차</p>
                {% for profile in team_members_profiles %}
                    <li>
                        <!-- 팀원의 이름 표시 -->
                        {{ profile.member.username }}

                        <!-- 팀원들의 캐릭터 이미지 표시 -->
                        {% if profile.character_image %}
                            <!--<img src="{% static 'img/'|add:profile.character_image %}" alt="{{ profile.member.username }}의 캐릭터" width="100px">-->
                            <div class="story-profile" onClick="showStory(this)" data-upload-img="{% if upload_img %}{{ upload_img }}{% endif %}">
                                <img src="{% static 'img/'|add:profile.character_image %}" alt="character image" class="profile-img">
                                <button class="upload-btn" onclick="showUploadForm(event)">+</button> <!-- 작은 업로드 버튼 추가 -->
                            </div>
                        {% else %}
                            <p>캐릭터 이미지 없음</p>
                        {% endif %}
                    </li>
                {% empty %}
                    <li>팀원 없음</li>
                {% endfor %}
                <div id="upload-form" class="popup-form hidden" >
                    <span class="close-btn" onClick="closeForm()">&times;</span>
                    <form method="POST" enctype="multipart/form-data" action="{% url 'story:upload_image' %}">
                        {% csrf_token %}
                        <label for="image">이미지 업로드:</label>
                        <input type="file" id="image" name="img" accept="image/*" required>
                        <button type="submit">업로드</button>
                    </form>
                </div>
                <div id="story-popup" class="popup" onclick="closePopUp()">
                    <span class="close-btn">&times;</span>
                    <img class="popup-content" id="popup-img">
                </div>
                <!-- 팀원 목록
                <h3>팀원 목록</h3>
                <ul class="team-members">
                    {% for member in team.members.all %}
                        <li>{{ member.username }}</li>
                    {% empty %}
                        <li>팀원 없음</li>
                    {% endfor %}
                </ul> -->
                <p>Rows: {{ rows }}</p>
                <div class="game-board">
                    {% for row in rows %}
                        <div class="board-row">
                            {% for j in columns %}
                                <div class="space"></div>
                            {% endfor %}
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/team_detail.js' %}"></script>
</body>
</html>
